/* reset__________________________________________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties____________________________________________________ */


/* assets________________________________________________________________ */

body {
    font-family: Whitney, Helvetica Newe, Helvetica, Arial, sans-serif; 
    color: #222629;
    background-color: #f5f5f5;  
}

li>a {
    color: white;
    text-decoration: none;
}
.gap {
    gap: 20px;
}

li, ul, div, section, nav, h1, p, a, img {
    padding: 10px 0px;
}


.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 700px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.img-widt {
    width: 60%;
}

.txt-widt {
    width: 40%;
}

.no-barr {
    max-width: 100%;
}

#ita {
    max-width: 2.4em;
    margin-right: 15px;
}

.center-content {
    place-content: center;

}

#socials {
    gap: 20px;

}

#facebook {
    object-position: 30px;
}

img.socials {
    height: 2.5em;
}

.backgrownd-tarnish-purple {
    background-color: #748bdb;
}

.backgrownd-white {
    background-color: white;
}

.backgrownd-dark-grey {
    background-color: #222629;
}

.backgrownd-bright-blue {
    background-color: #255ce8;
}

.backgrownd-light-grey {
    background-color: #f5f5f5;
}


.grey-wave {
    fill: #f5f5f5;
}

.img-down-reflex {
    -webkit-transform: scaleY(-1);
}

#con5 {
    margin-bottom: 80px;
}

#facebook {
    : 10px;
}

#ready {
    padding: 0px 80px;
    background-image: url(../img/stars.svg);
    background-size: 100% auto;
    line-height: 60px;
    font-size: 2em;

    
}

#lang {
    flex-grow: 1;
}

#bottom-links {
    flex-grow: 4;
}

div>nav {
    border-top: 1px solid #748bdb;
}

.fit {
    width: 100%;
    height: 40px;
}

#hero-section {
    background-image: url("../img/jumbo.png");
    background-size: auto  580px;
    background-position: center;
    height: 500px;
}

/*
__________COLORS___________
light-grey         #f5f5f5
dark               #050505
dark-grey          #222629
bright-blue        #255ce8
tarnished-purple   #748bdb
*/

/* text_______________________________________________________________ */
.text-dark {
    color: #050505
}

.text-white {
    color: white;
}

.text-tarnished-purple {
    color: #748bdb
}

p {
    font-size: 120%;
}

h4 {
    color: #748bdb;
}

h3 {
    font-size: 20px;
}

h2 {
    color: #748bdb;
}

h1 {
    font-size: 3em;
}

#nav-list {
    color: white;
}

.center-text {
    text-align: center;
     
}

/* buttons_______________________________________________________________ */
/*
__________COLORS___________
dark-grey          #222629
tarnished-purple   #748bdb
*/

.button {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none; 
}

.white-button {
    color: #222629;
    background-color: white;
}

.dark-grey-button {
    color: white;
    background-color:#222629;
}

.tarnished-purple-button {
    color: white;
    background-color: #748bdb;
}

a.mac-down::before {
    content: ↓;  
}

/* flexing_______________________________________________________________ */

.flexing {
    display: flex;
    align-items: center;
}

.wrap-flex {
    flex-wrap: wrap;
}

.no-horizontal-bar {
    width: auto;
}

.spa-bet-flex {
    justify-content: space-between;
}

.align-center-flex {
    align-content: center;
}

.fle-sta-flex {
    align-items: flex-start;
}

.fle-sta-flex {
    align-items: flex-start;
}

.fle-end-flex {
    align-items: flex-end;
}

.center-flex {
    justify-content: center;
}

.column-flex {
    flex-direction: column;
}

.row-rev-flex {
    flex-direction: row-reverse;
}

.column-rev-flex {
    flex-direction: column-reverse;
}

.center-align-flex {
    align-items: center;
}
