/* reset__________________________________________________________________ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* assets________________________________________________________________ */

body {
    font-family: Arial, Helvetica, sans-serif;/*whitney, helvetica newe*/
    color: #222629;
    background-color: lightgrey;
    
}

li, ul, div, section, nav, h1, h4, p, a, img {
    padding: 5px;
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.img-widt {
    width: 60%;
}
#ita {
    max-width: 2em;
}

.center-content {
    place-content: center;

}

.backgrownd-tarnish-purple {
    background-color: #748bdb;
}

.backgrownd-dark-grey {
    background-color: #222629;
}

/*
__________COLORS___________
dark               #050505
dark-grey          #222629
bright-blue        #255ce8
tarnished-purple   #748bdb
*/

/* text_______________________________________________________________ */
.text-dark {
    color: #050505
}

.text-white {
    color: white;
}

.text-tarnished-purple {
    color: #748bdb
}

h4 {
    color: #748bdb;
}

h2 {
    color: #748bdb;
}

.center-text {
    text-align: center; 
}

.txt-widt {
    width: 40%;
}

/* buttons_______________________________________________________________ */
/*
__________COLORS___________
dark-grey          #222629
tarnished-purple   #748bdb
*/

.button {
    padding: 10px;
    border-radius: 10px; 
}

.white-button {
    color: #222629;
    background-color: white;
}

.dark-grey-button {
    color: white;
    background-color:#222629;
}

.tarnished-purple-button {
    color: white;
    background-color: #748bdb;
}

/* flexing_______________________________________________________________ */
.column-flex {
    flex-direction: column;
}
.flexing {
    display: flex;
    align-items: center;
}

.spa-bet-flex {
    justify-content: space-between;
}

.fle-sta-flex {
    align-items: flex-start;
}

.center-flex {
    justify-content: center;
}

.row-rev-flex {
    flex-direction: row-reverse;
}

